/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    width: 100%;
    overflow: auto;
    padding: 30px;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
}


.carousel-item {
    white-space: nowrap;
    background-color: rebeccapurple;
    width: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

    .carousel-item:hover ~ .UniformesImgs-item {
        transform: translate3d(100px,0,0);
        background-color: red;
    }

.carousel__container:hover .UniformesImgs-item {
    opacity: 0.5;
}

    .carousel__container:hover .UniformesImgs-item:hover {
        transform: scale(1.5);
        opacity: 1;
    }

.carousel-item__img {
    width: 220px;
    height: 250px;
    object-fit: cover;
}

.UniformesImgs {
    width: 100%;
    overflow: auto;
    padding: 30px;
    position: relative;
}

.UniformesImgs__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
}

.UniformesImgs-item {
    white-space: nowrap;
    background-color: rebeccapurple;
    width: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

    .UniformesImgs-item:hover ~ .UniformesImgs-item {
        transform: translate3d(100px,0,0);
        background-color: red;
    }

.UniformesImgs__container:hover .UniformesImgs-item {
    opacity: 0.5;
}

    .UniformesImgs__container:hover .UniformesImgs-item:hover {
        transform: scale(1.5);
        opacity: 1;
    }


.UniformesImgs-item__img {
    width: 220px;
    object-fit: cover;
}

.UniformesImgs2 {
    width: 100%;
    overflow: hidden;
    padding: 30px;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.UniformesImgs-item2 {
    white-space: nowrap;
    background-color: rebeccapurple;
    width: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

    .UniformesImgs-item2:hover ~ .UniformesImgs-item2 {
        transform: translate3d(200px,0,0);
    }

.grid:hover .UniformesImgs-item2 {
    opacity: 0.5;
}

    .grid:hover .UniformesImgs-item2:hover {
        transform: scale(1.5);
        opacity: 1;
    }