@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<header>
    <img src="https://i.imgur.com/my5RVXL.png" alt="Logo innovar" />
</header>

<h1>bordados solo con contacto</h1>

<section class="contacto">
    <h2>CONTACTO</h2>
    <p>Telefono: 3214493109</p>
    <p>eMail: </p>
    <p>Direccion: Cra. 109 Bis #16 I 55</p>
</section>

