@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<header>
    <img src="https://i.imgur.com/my5RVXL.png" alt="Logo innovar" />
</header>


<h2>Bordados</h2>

<section class="carousel">
    <div class="carousel__container">

        <div class="Carousel-item">
            <img class="carousel-item__img" 
                src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/r270/40867928_288298701990400_2981374251715526656_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=kjyVJDsUfSsAX9JeS_a&_nc_ht=scontent-bog1-1.xx&_nc_tp=31&oh=b682516113ed69b594cd822ce21dd284&oe=609F573E"
                 alt="bordados camisetas gorras y corbata" />
        </div>
        <div class="Carousel-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41078162_288260945327509_8913868868074602496_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=u2m16IDxKngAX8Ej-4q&_nc_ht=scontent-bog1-1.xx&oh=11bac1f4a349520276161dd8ed86580b&oe=609FB2CA"
                 alt="bordados camisetas" />
        </div>
        <div class="Carousel-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40984429_288260985327505_2503406651516649472_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=WecGQ3pz4GAAX8-94MW&_nc_ht=scontent-bog1-1.xx&oh=110464abb7426ac9f4cfdae9afa4093e&oe=609F1588"
                 alt="hilos bordadora" />
        </div>
        <div class="Carousel-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40819668_288261058660831_48320744312012800_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=FyPdneHGWNIAX9TYAf3&_nc_ht=scontent-bog1-1.xx&oh=ab440d53dd80b41ef4d2ad1c8be1e1ee&oe=609FF1D9"
                 alt="gorra bordada renoboy" />
        </div>
        <div class="Carousel-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40790555_288261041994166_881941430807822336_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=-aGqYEkDoLEAX-AbBkD&_nc_oc=AQnpka3ewauJuv7VnfkNbHq5g1thEh60r5lzQ2j_Rk0bTbQJY0-JyA6fMAHDJFv-S5PcDrzo3HmlkVTYybgdvLmc&_nc_ht=scontent-bog1-1.xx&oh=eedf1ae53abd8e4e4e39408ee33ff86b&oe=609DCB55"
                 alt="gorra bordada mapfre" />
        </div>
        <div class="Carousel-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41040164_288261008660836_2348901048493539328_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=eAgaxKhBnmEAX-d8062&_nc_ht=scontent-bog1-1.xx&oh=ed8b9f56a259924900df5311893828bc&oe=609F88C0"
                 alt="gorra ligera bordada" />
        </div>

    </div>
</section>
<h2>Uniformes</h2>
<section class="UniformesImgs2">
    <div class="Unifs">
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41022958_287837428703194_5605685160327512064_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=Tr50HhKiJuQAX_P8MrF&_nc_ht=scontent-bog1-1.xx&oh=8abfdbc2a609c448821a7d09f3aa8888&oe=609E3F30"
                 alt="Uniforme blazer azul y pantalon negro" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41063114_287837315369872_5384634790014091264_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=XTXSuuR47n4AX9hhJY1&_nc_ht=scontent-bog1-1.xx&oh=765d20bff5151edffbf7ee2ee8307817&oe=609F4220"
                 alt="Blusa blanca pantalon negro" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40904764_287837375369866_5149284618146414592_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=RMhdtLme5bgAX8ZPvy9&_nc_ht=scontent-bog1-1.xx&oh=b186ce0f5a1cd49abcb1dc56527e7240&oe=609F5159"
                 alt="conjunto azul oscuro con rayas" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40875971_287837505369853_4165951980281266176_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=aAJgcLiDPUQAX8HoN3q&_nc_ht=scontent-bog1-1.xx&oh=3a604f134b6adfd2509c4ca1cd099bf7&oe=60A059E7"
                 alt="conjunto blanco" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40919630_288131888673748_1232391744046235648_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=jomOK-WobRAAX8E3Ktz&_nc_ht=scontent-bog1-1.xx&oh=f0c2ea41f76b826b1f1e24b932d1a337&oe=60A1725A"
                 alt="Traja paño negro hombre" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/40903449_288135712006699_8418423040198574080_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=UhvemfaF4mgAX_Vn8ZI&_nc_ht=scontent-bog1-1.xx&oh=544e9771b949400f1d048e6ec3b77b01&oe=609F5EA3"
                 alt="Saco rojo y pnatalon negro hombre" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41084785_287820445371559_2429852888441290752_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=e3f864&_nc_ohc=j6RrA4Wl8BMAX9drx66&_nc_ht=scontent-bog1-1.xx&oh=737338409adc6b9d5013a2e9e052c4d6&oe=609F98D0"
                 alt="chaquetas y chalecos" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/41176031_288135508673386_5171489530347257856_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=bwpmKxAkJwkAX9qASQ6&_nc_oc=AQmYsV5rqftCHtlIkXQNhJ-3GbIDJu_AFdSFOFynBcVfKbQq3O6NuDXNhfZ5AJ9AiVsEavzNFp6vfkD1QkAo6elA&_nc_ht=scontent-bog1-1.xx&oh=5d0b213a10b97755645522f4cdfcd7f9&oe=609E0A8A"
                 alt="Traje vinotinto dama" />
        </div>
        <div class="UniformesImgs-itemdiv"></div>
    </div>
</section>
<section class="contacto">
    <h2>CONTACTO</h2>
    <p>Telefono: 3214493109</p>
    <p>eMail: </p>
    <p>Direccion: Cra. 109 Bis #16 I 55</p>
</section>

