@{
    ViewData["Title"] = "Notes";
}

<partial name="InnovarImg"/>
<div class="text-center">
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Example <a href="http://www.uniformescomercia.com/">Uniformes comercia</a>.</p>
    <p> old page in cache 
        <a href="https://webcache.googleusercontent.com/search?q=cache:wryViBJfw7QJ:https://www.innovaruniformesybordados.com/uniformes+&cd=3&hl=es-419&ct=clnk&gl=co">
        Innovar</a>.
    </p>

</div>
