@model LinksVar
@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<style>
    header img {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        background-color: grey;
    }

        nav a {
            color: black;
        }

    .carousel {
        width: 100%;
        overflow: scroll;
        padding: 30px;
        position: relative;
    }

    .carousel__container {
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 10px;
    }

    .carousel__item {
        background-color: rebeccapurple;
        width: 200px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        transition:450ms all;
        transform-origin: center left;
    }

        .carousel__item:hover ~ .carousel__item {
            transform: translate3d(100px,0,0);
            background-color: red;
            
        }

    .carousel__container:hover .carousel__item {
        opacity: 0.5;
    }

        .carousel__container:hover .carousel__item:hover {
            transform: scale(1.5);
            opacity: 1;
        }
</style>

<header>
    <img src="@Url.Content(@Model.LogoInnovar)" alt="Logo innovar" />
</header>

<h2>bordados</h2>
<nav>


    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>
<h2>bordados</h2>
<nav>


    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>
<section class="carousel">
    <div class="carousel__container">
        <div class="carousel__item">

        </div>
        <div class="carousel__item">

        </div>
        <div class="carousel__item">

        </div>
        <div class="carousel__item">

        </div>
    </div>
</section>

