@{
    ViewData["Title"] = "Innovar";
}


<div class="text-center">

    <img src="Images/LogoInnovar2.png" alt="Logo innovar" width="300"/>
    <p/>
    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/41162401_288261935327410_8792016844841025536_o.png?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_ohc=h7n9URKDtKIAX_1QkW9&_nc_ht=scontent-bog1-1.xx&oh=7e4cbaf40b8ec368b0562d277ac9257f&oe=603B9D4C" 
         alt="Logo innovar" width="300"/>

</div>



