@model LinksVar
@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<style>
    header img {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<header>
    <img src="@Url.Content(@Model.LogoInnovar)" alt="Logo innovar" />
</header>


<div class="text-center">
    <h2>bordados</h2>

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</div>

<div class="text-center">
    <h2>uniformes</h2>

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</div>