@model LinksVar
@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<style>
    header img {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        background-color: grey;
    }

    nav a{
        color:black;
    }
       
</style>

<header>
    <img src="@Url.Content(@Model.LogoInnovar)" alt="Logo innovar" />
</header>


<h2>bordados</h2>
<nav>
    

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>
<h2>bordados</h2>
<nav>
    

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>

