@model LinksVar
@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}

<div class="text-center">
    <img src="@Url.Content(@Model.LogoInnovar)" alt="Logo innovar" width="300" />
</div>

<div class="text-center">
    <h2>bordados</h2>

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</div>

<div class="text-center">
    <h2>uniformes</h2>

    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</div>



