@model LinksVar
@{
    ViewData["Title"] = "Innovar";
    Layout = "~/Views/Shared/_Clean.cshtml";
}
<!--
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header img {
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel {
        width: 100%;
        overflow: auto;
        padding: 30px;
        position: relative;
    }

    .carousel__container {
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 10px;
        display: inline-block;
    }


    .carousel-item {
        white-space: nowrap;
        background-color: rebeccapurple;
        width: 220px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        transition: 450ms all;
        transform-origin: center left;
        position: relative;
    }

        .carousel-item:hover ~ .UniformesImgs-item {
            transform: translate3d(100px,0,0);
            background-color: red;
        }

    .carousel__container:hover .UniformesImgs-item {
        opacity: 0.5;
    }

        .carousel__container:hover .UniformesImgs-item:hover {
            transform: scale(1.5);
            opacity: 1;
        }

    .carousel-item__img {
        width: 220px;
        height: 250px;
        object-fit: cover;
    }

    .UniformesImgs {
        width: 100%;
        overflow: auto;
        padding: 30px;
        position: relative;
    }

    .UniformesImgs__container {
        white-space: nowrap;
        margin: 70px 0px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .UniformesImgs-item {
        white-space: nowrap;
        background-color: rebeccapurple;
        width: 220px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        transition: 450ms all;
        transform-origin: center left;
        position: relative;
    }

        .UniformesImgs-item:hover ~ .UniformesImgs-item {
            transform: translate3d(100px,0,0);
            background-color: red;
        }

    .UniformesImgs__container:hover .UniformesImgs-item {
        opacity: 0.5;
    }

        .UniformesImgs__container:hover .UniformesImgs-item:hover {
            transform: scale(1.5);
            opacity: 1;
        }


    .UniformesImgs-item__img {
        width: 220px;
        object-fit: cover;
    }

    .UniformesImgs2 {
        width: 100%;
        overflow: hidden;
        padding: 30px;
        position: relative;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }

    .UniformesImgs-item2 {
        white-space: nowrap;
        background-color: rebeccapurple;
        width: 220px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
        transition: 450ms all;
        transform-origin: center left;
        position: relative;
    }

        .UniformesImgs-item2:hover ~ .UniformesImgs-item2 {
            transform: translate3d(200px,0,0);
        }

    .grid:hover .UniformesImgs-item2 {
        opacity: 0.5;
    }

    .grid:hover .UniformesImgs-item2:hover {
        transform: scale(1.5);
        opacity: 1;
    }
</style>
    -->
<header>
    <img src="@Url.Content(@Model.LogoInnovar)" alt="Logo innovar" />
</header>

<h2>bordados</h2>
<nav>


    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>
<h2>bordados</h2>
<nav>


    <a href="SobreNosotros.html">
        Sobre nosotros
    </a>
    <a href="NuevoProLocal.html">
        Quiero ofrecer servicios!!!
    </a>
</nav>

<section class="carousel">
    <div class="carousel__container">

        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/r270/40867928_288298701990400_2981374251715526656_o.jpg?_nc_cat=106&ccb=2&_nc_sid=cdbe9c&_nc_ohc=qjFjRNs_C-oAX-4Ruzu&_nc_ht=scontent-bog1-1.xx&oh=0d79cb5dd6a9a665e8453104ffd26c58&oe=6040F22F"
                 alt="bordados camisetas gorras y corbata" />
        </div>
        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/41078162_288260945327509_8913868868074602496_o.jpg?_nc_cat=104&ccb=2&_nc_sid=cdbe9c&_nc_ohc=Uc1zlnQo-JAAX-7vZN6&_nc_ht=scontent-bog1-1.xx&oh=87fabec6713f62fbf6ef17bd4c7de559&oe=603F09C5"
                 alt="bordados camisetas" />
        </div>
        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40984429_288260985327505_2503406651516649472_o.jpg?_nc_cat=100&ccb=2&_nc_sid=cdbe9c&_nc_ohc=bfWfYBBF34oAX8IdnFt&_nc_ht=scontent-bog1-1.xx&oh=fc3ea76fce6ae7c961cc05823d789f42&oe=603FE80B"
                 alt="hilos bordadora" />
        </div>
        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40819668_288261058660831_48320744312012800_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=PJt4WrTvnzcAX8nPPxc&_nc_ht=scontent-bog1-1.xx&oh=22988e3af010e32e3192a17a4559f5f1&oe=6040ECA9"
                 alt="gorra bordada renoboy" />
        </div>
        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40790555_288261041994166_881941430807822336_o.jpg?_nc_cat=109&ccb=2&_nc_sid=cdbe9c&_nc_ohc=34Zlk9jdh2cAX9Jm4NN&_nc_oc=AQkwFGGiak-4kLs0EVvnC01TNS_R7_43R7i_VqgOC0rNOduncPkpv9F_ehxhObRcWHFyrUvFdwVWvNmbfKaDFHhC&_nc_ht=scontent-bog1-1.xx&oh=798856017dd2a2c5347dd6166793f6bc&oe=603FCDD7"
                 alt="gorra bordada mapfre" />
        </div>
        <div class="UniformesImgs-item">
            <img class="carousel-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/41040164_288261008660836_2348901048493539328_o.jpg?_nc_cat=104&ccb=2&_nc_sid=cdbe9c&_nc_ohc=a6oiWDdNN9EAX8WwrlR&_nc_ht=scontent-bog1-1.xx&oh=faa011849af77ab4c26c3b0426e56f15&oe=60404F33"
                 alt="gorra ligera bordada" />
        </div>

    </div>
</section>

<section class="UniformesImgs2">
    <div class="grid">
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/41022958_287837428703194_5605685160327512064_o.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=yfu3bY8FnCsAX96P7yf&_nc_ht=scontent-bog1-1.xx&oh=67178226f11064343517f3ab9c85bacb&oe=6043FC23"
                 alt="Uniforme blazer azul y pantalon negro" />
        </div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/41063114_287837315369872_5384634790014091264_o.jpg?_nc_cat=105&ccb=2&_nc_sid=cdbe9c&_nc_ohc=0bZ1iG40l0IAX-y2_nC&_nc_ht=scontent-bog1-1.xx&oh=69e25bc38fbf953f6d1a655394a3db7d&oe=60456813"
                 alt="Blusa blanca pantalon negro" />
        </div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40904764_287837375369866_5149284618146414592_o.jpg?_nc_cat=103&ccb=2&_nc_sid=cdbe9c&_nc_ohc=ed335jBiglUAX-5jgGS&_nc_ht=scontent-bog1-1.xx&oh=c08dce0aecc68cbab996db3ab444f11b&oe=60424256"
                 alt="conjunto negro con rayas" />
        </div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40919630_288131888673748_1232391744046235648_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=mEE6QfllsBAAX9Ki9lP&_nc_ht=scontent-bog1-1.xx&oh=f6d5da1a380ab201657bfd83e9ed448e&oe=6042D2D5"
                 alt="Traja paño negro hombre" />
        </div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40919630_288131888673748_1232391744046235648_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=mEE6QfllsBAAX9Ki9lP&_nc_ht=scontent-bog1-1.xx&oh=f6d5da1a380ab201657bfd83e9ed448e&oe=6042D2D5"
                 alt="Traja paño negro hombre" />
        </div>
        <div class="UniformesImgs-item2">
            <img class="UniformesImgs-item__img" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/40919630_288131888673748_1232391744046235648_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=mEE6QfllsBAAX9Ki9lP&_nc_ht=scontent-bog1-1.xx&oh=f6d5da1a380ab201657bfd83e9ed448e&oe=6042D2D5"
                 alt="Traja paño negro hombre" />
        </div>
    </div>
</section>

